<div class="pub-home">
    <div class="pub-home-bg">
        <div class="pub-home-bg-icon"></div>
        <div class="pub-welcome-text">
            <div class="pub-welcome-intro">
                <h1>Moments - Reimagined.</h1>
                <h2>Add shots. Join packs. Get flames.</h2>
            </div>
        </div>
        <div class="pub-home-buttons">
            <a href="/register" class="pub-home-button pub-create-account">
                <div class="pub-inline"><span class="pub-button-text">Join for free</span></div>
            </a>
        </div>
    </div>
</div>