<div class="pub-auth">
    <app-auth></app-auth>
    <div class="pub-tabs">
        <a class="pub-tab pub-tab-current" [routerLink]="['/password/email']">
            <h2>Reset Password</h2>
        </a>
    </div>
    <div class="pub-form pub-shadow">
        <form [formGroup]="emailForm" (ngSubmit)="onEmailPasswordSubmit()">
            <div class="pub-radius pub-form-head">
                <span>We will reset your password and send you an email with your new password.</span>
            </div>
            <div class="pub-row form-group label-floating">
                <label for="email" class="pub-label control-label">Email</label>
                <input type="email" class="pub-input form-control" formControlName="email" name="email" id="email" value="">
                <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                    <div *ngIf="email.errors.required">Email is required.</div>
                    <div *ngIf="email.errors.email">Email is invalid.</div>
                </div>
            </div>
            <div class="pub-row form-group label-floating">
                <button type="submit" class="pub-button pub-current" [disabled]="emailForm.invalid">Request</button>
            </div>
        </form>
    </div>
</div>