<div class="pub-show">
    <div class="pub-profile pub-shadow pub-radius">
        <div class=" pub-profile-photo pub-shadow">
            <div class="pub-profile-photo-frame">
                <img alt="batanayi" class="pub-media"
                     src="https://instagram.fcpt3-1.fna.fbcdn.net/vp/ed02751c69a77cb0f1b0058061d6eac5/5BB2D3D3/t51.2885-19/s150x150/34184482_1050780408406036_1683340843152310272_n.jpg?_nc_eui2=AeGEny2415LZ_GsQk0gBFwKIMlv8Y9qQc25hLVRPbfEnzkTDmE8tMLplHkPmyiAEksttD5vf_RYWAWOwyPbqppnBEO8qLK7ebG3kYTFRpgZLNg"
                     title="batanayi">
            </div>
            <svg class="pub-profile-circle-container" width="170" height="170" viewBox="0 0 104 104">
                <circle cx="52" cy="52" r="50" fill="none" stroke-linecap="round" stroke-width="2"
                        stroke-dashoffset="387.69908169872417" class="pub-profile-circle"></circle>
            </svg>
        </div>
        <div class="pub-profile-meta pub-centered">
            <div class="pub-profile-name">
                <h1>{{ user.username }}</h1>
            </div>
            <div class="pub-audience">
                <div class="pub-button pub-radius pub-button-small">Following</div>
            </div>
            <div class="pub-profile-bio">Miriam Kanengoni _★Balanced, Beautiful & Blessed beyond measure</div>
            <div class="pub-profile-edit" style="display: none;">
                <a href="/settings/5/edit" class="pub-button pub-radius">Edit</a>
            </div>
        </div>
    </div>
    <div class="pub-profile-tabs">
        <div class="pub-profile-tabs">
            <div class="pub-profile-tab pub-tab-active ">
                <a href="/batanayi">
                    <span class="pub-tab-count">255</span>
                    <span class="pub-tab-label"> shots</span>
                </a>
            </div>
            <div class="pub-profile-tab ">
                <a href="#" data-href="/batanayi/followers" class="pub-vex-link">
                    <span class="pub-tab-count">25</span>
                    <span class="pub-tab-label"> followers</span>
                </a>
            </div>
            <div class="pub-profile-tab ">
                <a href="#" data-href="/batanayi/followers" class="pub-vex-link">
                    <span class="pub-tab-count">25</span>
                    <span class="pub-tab-label"> following</span>
                </a>
            </div>
        </div>
    </div>
    <div class="pub-profile-shots pub-shadow pub-radius">
        <ul>
            <li class="col-xs-12 col-sm-4 js-album-results-1" *ngFor="let shot of shots">
                <figure>
                    <div class="box">
                        <a class="content" routerLink="/shot/{{ shot.slug }}">
                            <img class="img-responsive" src="{{ shot.media }}" title="{{ shot.caption }}">
                        </a>
                    </div>
                    <div class="hidden-xs content-overlay"></div>
                    <div class="hidden-xs content-details">
                        <figcaption class="album-play-button">
                            <a routerLink="/pack/{{ shot.pack.slug }}">
                                <h2 class="text-white">@{{ shot.pack.slug }}</h2>
                            </a>
                            <h4 class="text-white">Nas</h4>
                            <div class="btn btn-link" role="button">
                                <a routerLink="/shot/{{ shot.slug }}">Flame Now</a>
                            </div>
                        </figcaption>
                    </div>
                </figure>
                <figcaption class="scroll hidden-sm hidden-md hidden-lg">
                    <h2>{{ shot.user.name }}</h2>
                    <h4>{{ shot.pack.name }}</h4>
                    <div class="btn btn-link" role="button">
                        <a href="https://open.spotify.com/album/66EwBbt2kPgugo8Wz0SKAw"
                           routerLink="/shot/{{ shot.slug }}">Flame Now</a>
                    </div>
                </figcaption>
            </li>
        </ul>
        <div class="pub-clear"></div>
    </div>
</div>